.musicians {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body {
    background-color: rgb(247, 247, 247);
    font-family: 'Open Sans', sans-serif;
    margin: 0
}

.add-musician {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 6px 5px 44px 0px rgba(0,0,0,0.82);

}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}