.musicians {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body {
    background-color: rgb(247, 247, 247);
}

.add-musician {
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}